@@include('header.html')

<!-- main -->
<table width="600" cellpadding="30" cellspacing="0" border="0" align="center">
  <tr>
    <td bgcolor="#FFFFFF" width="600" align="left" class="mainmsg">
      @@include('headline.html', {"title": "Amazing!"})

      <p>He descended to the saloon. Mr. Fogg was not there. Passepartout had only, however, to ask the purser the number of his master's state-room. The purser replied that he did not know any passenger by the name of Fogg.</p>

      @@include('button.html', {"title": "Sign Up", "url": "@@signup", "utm_campaign": "example"})
    </td>
  </tr>
</table>

@@include('footer.html')
